# DSCI-633 Lab #5 (python)
# Associate Rule Mining

## step_2: Complete two-item frequent item sets  and 
## step_3: Complete three-item frequent item sets.

### Name: Stephen Cook

In [9]:
# Import all needed libraries
import pandas as pd
import itertools

In [10]:
# upload supermarket dataset -  shape is (5, 5)
df = pd.read_csv('supermarket.csv')
df

       0       1       2     3     4
0  Bread    Milk     NaN   NaN   NaN
1  Bread  Diaper    Beer  Eggs   NaN
2  Bread    Milk  Diaper  Beer  Coke
3  Bread  Diaper    Beer   NaN   NaN
4  Bread  Diaper    Coke   NaN   NaN

In [11]:
df.shape

(5, 5)

In [12]:
# minimum support (minSup) count
minSup = 3
records = []
for i in range(len(df)):
    records.append([str(df.values[i,j]) for j in range(len(df.columns))])
records

[['Bread', 'Milk', 'nan', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Beer', 'Eggs', 'nan'],
 ['Bread', 'Milk', 'Diaper', 'Beer', 'Coke'],
 ['Bread', 'Diaper', 'Beer', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Coke', 'nan', 'nan']]

In [13]:
items = sorted([item for sublist in records for item in sublist if item != 'nan'])
items

['Beer',
 'Beer',
 'Beer',
 'Bread',
 'Bread',
 'Bread',
 'Bread',
 'Bread',
 'Coke',
 'Coke',
 'Diaper',
 'Diaper',
 'Diaper',
 'Diaper',
 'Eggs',
 'Milk',
 'Milk']

In [14]:
def check_subset_frequency(itemset, l ,n):
    if n>1:
        subset = list(itertools.combinations(itemset,n))
    else:
        subset = itemset
    for iter1 in subset:
        if not iter1 in l:
            return False
    return True

'''
This definition is the same as Q2.1
Form the item sets containing one item. 
minSup = 60%
'''
def step_1(items, minSup):
    c1 = {i:items.count(i) for i in items}  # candidate one item set
    l1 = {} # frequent one item set
    for key, value in c1.items():
        if value >= minSup:
           l1[key] = value 
    
    return c1, l1

In [15]:
def check_subset_frequency(itemset, l ,n):
    if n>1:
        subset = list(itertools.combinations(itemset,n))
    else:
        subset = itemset
    for iter1 in subset:
        if not iter1 in l:
            return False
    return True

'''
This definition is the same as Q2.1
Form the item sets containing one item. 
minSup = 60%
'''
def step_1(items, minSup):
    c1 = {i:items.count(i) for i in items}  # candidate one item set
    l1 = {} # frequent one item set
    for key, value in c1.items():
        if value >= minSup:
           l1[key] = value 
    
    return c1, l1

In [16]:
c1, l1 = step_1(items,minSup)
print("L1 =>", l1)

L1 => {'Beer': 3, 'Bread': 5, 'Diaper': 4}

In [17]:
'''
Q3.1

Let's form the item sets containing two items.
We only take the item sets from step_1 (Q2.1)
'''
def step_2(l1, records, minSup):
    
    # You can use your own statements than ones given below
    l1 = sorted(list(l1.keys()))
    L1 = list(itertools.combinations(l1, 2))
    c2 = {}
    l2 = {}
    for i in L1:
        count = 0
        for j in records:
            if set(i) <= set(j):
                count +=1
        c2[i] = count
    for key,value in c2.items():
        if value >= minSup:
            l2[key] = value
    return c2, l2  # candidate and frequent two item sets

In [18]:
c2, l2 = step_2(l1, records, minSup)
print("L2 =>", l2)

L2 => {('Beer', 'Bread'): 3, ('Beer', 'Diaper'): 3, ('Bread', 'Diaper'): 4}

In [19]:
'''
Q3.2

Let's for the item sets containing three items from step_2 (Q2.2)
'''
def step_3(l2, records, minSup):
    
    # You can use your own statements than ones given below
    
    l2 = list(l2.keys())
    L2 = sorted(list(set([item for t in l2 for item in t])))
    L2 = list(itertools.combinations(L2, 3))
    c3 = {}
    l3 = {}
    for i in L2:
        count =0
        for j in records:
            if set(i) <= set(j):
                count+=1
        c3[i] = count
    for key, value in c3.items():
        if value >= minSup:
            l3[key] = value

    return c3, l3  # candidate and frequent three item sets

In [20]:
c3, l3 = step_3(l2, records, minSup)
print("L3 =>", l3)

L3 => {('Beer', 'Bread', 'Diaper'): 3}